@inherits LayoutComponentBase

<!-- 独自 CSS の読み込み -->
<link href="style.css" rel="stylesheet" />

<!-- ページごとの UI -->
@Body

<!-- 共通 JS の読み込み -->
<script src="scroll.js"></script>

<!-- Blazor 標準のエラー UI -->
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
